name: Matrix workflow
on: push
jobs:
    build:
        strategy: #  strategia wykonywania
            matrix: # definicja matrixa
                node-version: [12, 14, 16] # wartość jaką chcemy zmienić
                operating-system: [ubuntu-latest, windows-latest]
        runs-on: ${{ matrix.operating-system }} # matrix kontekst zawiera nasze opcje zdefiniowane dla matrixa
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Install NodeJS
              uses: actions/setup-node@v3
              with:
                node-version: ${{ matrix.node-version }}
            - name: Install dependencies
              run: npm ci
            - name: build project
              run: npm run build